#####
# OS X temporary files that should never be committed

.DS_Store
*~
*.swp
*.lock
profile


####
# Xcode - semi-personal settings, often included in workspaces
#
# You can safely ignore the xcuserdata files - but do NOT ignore the files next to them
#

xcuserdata

####
# Package build files -
#

/Tools/.build
